<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalii Eveniment</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; color: red; margin: 0; padding: 20px;">

    <h1 style="text-align: center; color:black;">Detalii Eveniment</h1>

    {% if events %}
        <ul>
            {% for event in events %}
                <li>{{ event.task.description }} - {{ event.start_time }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nu au fost găsite evenimente pentru această dată.</p>
    {% endif %}

    

    <a href="{% url 'showc' %}" style="display: block; margin-top: 20px; text-align: center; color: white; text-decoration: none; font-weight: bold;background-color:black;border-radius:10px">Înapoi la calendar</a>
    <a href="{% url 'task_dropdown' %}" style="display: block; margin-top: 20px; text-align: center; color: white; text-decoration: none; font-weight: bold;background-color:black;border-radius:10px">adauga task existent</a>
    <a href="{% url 'schedule' %}" style="display: block; margin-top: 20px; text-align: center; color: white; text-decoration: none; font-weight: bold;background-color:black; border-radius:10px">adauga task nou</a>
</body>
</html>
