{% extends "layout.html" %}

{% block body %}
    <div class="container my-5">
        <h3 class="mb-4">Task History:</h3>

        <div class="list-group">
            {% for task in tasks %}
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex justify-content-between">
                        <h5 class="mb-1">{{ task.category }}</h5>
                        <small>{{ task.start_time|date:"d-m-Y H:i" }} -> {{ task.end_time|date:"d-m-Y H:i" }}</small>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
