{% load static %}
<!DOCTYPE html>
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="{% static 'livestyle.css' %}">
</head>


<body>

{% if is_admin %}
  
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Hello Admin, {{nume | capfirst}} {{prenume | capfirst}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="{% url 'liveTasks' %}">Live Tasks</a></li>
      <li><a href="{% url 'showc' %}">Program Task</a></li>
      <li><a href="{% url 'Angajati' %}">Angajati</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
  </div>
</nav>
{%else%}

  
  
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Hello, {{nume | capfirst}} {{prenume | capfirst}}</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Alege Taskuri</a></li>
      <li><a href="{% url 'upcoming' %}">Upcoming Tasks</a></li>
      <li><a href="{% url 'istoric' %}">Task History</a></li>
      <li><a href="{% url 'account' %}">Your Account</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
  </div>
</nav>

  
  
{% endif %}
{% block body %}
{% endblock %}
</body>

</html>