{% extends "layout.html" %}

{% block body %}
<div class="container mt-5">
    <h3 class="text-center mb-4">All your employees:</h3>
    <ul class="list-group">
        {% for ang in all_angajati %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                {{ ang.first_name | capfirst }} {{ ang.last_name | capfirst }}
                <a href="{% url 'detalii' u=ang.username %}" class="btn btn-sm btn-outline-primary">View Details</a>
                </a>
                {% if detalii and detalii.username == ang.username %}
                <div class="mt-2">
                    <p class="mb-1"><span class="fw-bold">Salary:</span> {{ detalii.salary }}</p>
                    <p class="mb-1"><span class="fw-bold">Email:</span> {{ detalii.email }}</p>
                </div>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}